In [1]:
    import pandas as pd
    from sqlalchemy import create_engine
    import psycopg2
    from bs4 import BeautifulSoup
    import requests
    from datetime import datetime,date
    import lxml

In [2]:
police_shooting_df = pd.read_csv('Raw data/police_shooting.csv')
police_shooting_df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2/01/2015,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2/01/2015,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,3/01/2015,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,4/01/2015,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,4/01/2015,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [10]:
police_cols = ['id', 'date',"armed", "gender", "race",'city','state']
new_police= police_shooting_df[police_cols].copy()
    
# Clean the data by dropping duplicates and setting the index
# new_police.drop_duplicates("id", inplace=True)
# new_police.set_index("id", inplace=True)
new_police = new_police.drop_duplicates()
# new_police.describe()
new_police

        id        date         armed gender race           city state
0        3   2/01/2015           gun      M    A        Shelton    WA
1        4   2/01/2015           gun      M    W          Aloha    OR
2        5   3/01/2015       unarmed      M    H        Wichita    KS
3        8   4/01/2015    toy weapon      M    W  San Francisco    CA
4        9   4/01/2015      nail gun      M    H          Evans    CO
...    ...         ...           ...    ...  ...            ...   ...
5333  5815  20/05/2020           gun      M  NaN          Viera    FL
5334  5836  24/05/2020           gun      M  NaN      Bulls Gap    TN
5335  5837  25/05/2020         knife      M  NaN   Jonesborough    TN
5336  5839  25/05/2020           gun      M    H        Houston    TX
5337  5838  26/05/2020  undetermined      M    W   Jacksonville    FL

[5338 rows x 7 columns]

In [13]:
state_name_df = pd.read_csv('Raw data/state_name.csv')
state_name_df.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [65]:
new_police_df = new_police.merge(state_name_df,right_on='Code', left_on = 'state')
new_police_df = new_police_df.drop(['Code'], axis = 1) 
new_police_df = new_police_df.drop(columns=['Abbrev'])
new_police_df

        id       date       armed gender race        city state         State
0        3 2015-01-02         gun      M    A     Shelton    WA    Washington
1      138 2015-02-10     unarmed      M    H       Pasco    WA    Washington
2      295 2015-03-19     unarmed      M    W       Sumas    WA    Washington
3      393 2015-04-21     unarmed      M    N    Lakewood    WA    Washington
4      431 2015-05-04  toy weapon      M    W   Kennewick    WA    Washington
...    ...        ...         ...    ...  ...         ...   ...           ...
5333  5081 2019-10-01         gun      M    W     Rutland    VT       Vermont
5334  1405 2016-03-24  toy weapon      M    B   Pawtucket    RI  Rhode Island
5335  1621 2016-06-13         gun      M    H    Tiverton    RI  Rhode Island
5336  3119 2017-11-09         NaN      M    W  Providence    RI  Rhode Island
5337  4023 2018-09-07         gun      M    B   Pawtucket    RI  Rhode Island

[5338 rows x 8 columns]

In [ ]:
#string to datetime

In [16]:
new_police['date'] =  pd.to_datetime(new_police['date'],format='%d/%m/%Y')
new_police.dtypes

id                 int64
date      datetime64[ns]
armed             object
gender            object
race              object
city              object
state             object
dtype: object

In [17]:
# gun violence data

In [77]:
gun_violence = pd.read_csv('Raw data/gun_violence.csv')
gun_violence.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,1/01/2013,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,1/01/2013,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,1/01/2013,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,5/01/2013,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,7/01/2013,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [78]:
gun_cols = ['incident_id','date',"state", "city_or_county"]
new_gun= gun_violence[gun_cols].copy()

# Rename the column headers
new_gun = new_gun.rename(columns={"city_or_county": "city",'incident_id':'id','state':'State'})
new_gun

             id        date           State          city
0        461105   1/01/2013    Pennsylvania    Mckeesport
1        460726   1/01/2013      California     Hawthorne
2        478855   1/01/2013            Ohio        Lorain
3        478925   5/01/2013        Colorado        Aurora
4        478959   7/01/2013  North Carolina    Greensboro
...         ...         ...             ...           ...
239672  1083142  31/03/2018       Louisiana         Rayne
239673  1083139  31/03/2018       Louisiana  Natchitoches
239674  1083151  31/03/2018       Louisiana        Gretna
239675  1082514  31/03/2018           Texas       Houston
239676  1081940  31/03/2018           Maine  Norridgewock

[239677 rows x 4 columns]

In [79]:
# Clean the data by dropping duplicates and setting the index\n",
new_gun.drop_duplicates("id", inplace=True)
new_gun.set_index("id", inplace=True)
# new_gun = new_gun.duplicated()
# new_gun = new_gun.drop_duplicates("id", inplace=True)
# new_gun.set_index("id", inplace=True)
new_gun

               date           State          city
id
461105    1/01/2013    Pennsylvania    Mckeesport
460726    1/01/2013      California     Hawthorne
478855    1/01/2013            Ohio        Lorain
478925    5/01/2013        Colorado        Aurora
478959    7/01/2013  North Carolina    Greensboro
...             ...             ...           ...
1083142  31/03/2018       Louisiana         Rayne
1083139  31/03/2018       Louisiana  Natchitoches
1083151  31/03/2018       Louisiana        Gretna
1082514  31/03/2018           Texas       Houston
1081940  31/03/2018           Maine  Norridgewock

[239677 rows x 3 columns]

In [80]:
#string to datetime\n",
new_gun['date'] =  pd.to_datetime(new_gun['date'],format='%d/%m/%Y')
new_gun.dtypes

date     datetime64[ns]
State            object
city             object
dtype: object

In [81]:
wiki_url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_educational_attainment'
response = requests.get(wiki_url)
soup = BeautifulSoup(response.text, 'html.parser')
edu_table = soup.find_all('table',{'class':'wikitable sortable'})
  
edu_state = pd.read_html(str(edu_table))

edu_df = edu_state[0]
edu_df

,"State, federal district, or territory",% High school graduate or higher,High School rank,% Bachelor's degree or higher,Bachelor's rank,% Advanced degree,Advanced rank
0,Montana,93.0%,1.0,30.7%,21.0,10.1%,33.0
1,New Hampshire,92.8%,2.0,36.0%,9.0,13.8%,10.0
2,Minnesota,92.8%,3.0,34.8%,11.0,11.8%,18.0
3,Wyoming,92.8%,4.0,26.7%,41.0,9.3%,39.0
4,Alaska,92.4%,5.0,29.0%,28.0,10.4%,29.0
5,North Dakota,92.3%,6.0,28.9%,29.0,7.8%,51.0
6,Vermont,92.3%,7.0,36.8%,8.0,15.0%,7.0
7,Maine,92.1%,8.0,30.3%,23.0,10.9%,24.0
8,Iowa,91.8%,9.0,27.7%,36.0,9.0%,42.0
9,Utah,91.8%,10.0,32.5%,16.0,11.0%,23.0
10,Wisconsin,91.7%,11.0,29.0%,27.0,9.9%,35.0
11,Hawaii,91.6%,12.0,32.0%,19.0,10.8%,25.0
12,South Dakota,91.4%,13.0,27.8%,35.0,8.3%,45.0
13,Colorado,91.1%,14.0,39.4%,3.0,14.6%,9.0
14,Nebraska,90.9%,15.0,30.6%,22.0,10.2%,31.0
15,Washington,90.8%,16.0,34.5%,12.0,12.7%,14.0
16,Kansas,90.5%,17.0,32.3%,17.0,11.7%,20.0
17,District of Columbia,90.3%,18.0,56.6%,1.0,32.8%,1.0
18,Massachusetts,90.3%,19.0,42.1%,2.0,18.7%,2.0
19,Idaho,90.2%,20.0,26.8%,40.0,8.5%,43.0
20,Michigan,90.2%,21.0,28.1%,34.0,11.0%,22.0
21,Connecticut,90.2%,22.0,38.4%,5.0,17.0%,4.0
22,Oregon,90.2%,23.0,32.3%,18.0,12.2%,16.0
23,Pennsylvania,89.9%,24.0,30.1%,24.0,11.8%,19.0
24,Maryland,89.8%,25.0,39.0%,4.0,18.0%,3.0
25,Ohio,89.8%,26.0,27.2%,37.0,10.2%,32.0
26,Delaware,89.3%,27.0,31.0%,20.0,12.9%,13.0
27,Missouri,89.2%,28.0,28.2%,33.0,10.7%,26.0
28,New Jersey,89.2%,29.0,38.1%,6.0,14.7%,8.0
29,Virginia,89.0%,30.0,37.6%,7.0,16.1%,5.0
30,Illinois,88.6%,31.0,33.4%,13.0,13.0%,12.0
31,Indiana,88.3%,32.0,25.3%,43.0,9.2%,40.0
32,Florida,87.6%,33.0,28.5%,31.0,10.3%,30.0
33,Oklahoma,87.5%,34.0,24.8%,45.0,8.3%,44.0
34,Rhode Island,87.3%,35.0,33.0%,14.0,13.1%,11.0
35,United States,87.3%,NaN,30.9%,NaN,11.8%,NaN
36,North Carolina,86.9%,36.0,29.9%,26.0,10.6%,28.0
37,South Carolina,86.5%,37.0,27.0%,38.0,9.8%,36.0
38,Tennessee,86.5%,38.0,26.1%,42.0,9.6%,37.0
39,Arizona,86.5%,39.0,28.4%,32.0,10.7%,27.0
40,Georgia,86.3%,40.0,29.9%,25.0,11.4%,21.0
41,New York,86.1%,41.0,35.3%,10.0,15.4%,6.0
42,West Virginia,85.9%,42.0,19.9%,54.0,7.9%,49.0
43,Nevada,85.8%,43.0,23.7%,47.0,8.1%,47.0
44,Arkansas,85.6%,44.0,22.0%,50.0,7.9%,50.0
45,Alabama,85.3%,45.0,24.5%,46.0,9.1%,41.0
46,Kentucky,85.2%,46.0,23.2%,49.0,9.6%,38.0
47,New Mexico,85.0%,47.0,26.9%,39.0,11.8%,17.0
48,Louisiana,84.3%,48.0,23.4%,48.0,8.1%,46.0
49,Mississippi,83.4%,49.0,21.3%,51.0,8.0%,48.0
50,Texas,82.8%,50.0,28.7%,30.0,9.9%,34.0
51,California,82.5%,51.0,32.6%,15.0,12.2%,15.0
52,Northern Mariana Islands,82.4%,52.0,20.2%,53.0,3.7%,55.0
53,American Samoa,82.1%,53.0,9.9%,56.0,3.5%,56.0
54,Guam,79.4%,54.0,20.4%,52.0,5.2%,54.0
55,Puerto Rico,74.7%,55.0,24.9%,44.0,7.1%,53.0
56,U.S. Virgin Islands,68.9%,56.0,19.2%,55.0,7.4%,52.0

In [112]:
wiki_url_2 = 'https://en.wikipedia.org/wiki/Household_income_in_the_United_States'

response_2 = requests.get(wiki_url_2)
soup_2 = BeautifulSoup(response_2.text, 'html.parser')
income_table = soup_2.find_all('table',{'class':'wikitable sortable'})

income_state = pd.read_html(str(income_table))
income_df = income_state[1]
income_df

,Rank,+/- *,Stateor territory,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007
0,1,+15,District of Columbia,"$82,336","$75,506","$75,628","$71,648","$67,572","$65,246","$66,583","$63,124","$59,290","$57,936","$54,317"
1,2,âˆ’1,Maryland,"$80,776","$78,945","$75,847","$73,971","$72,483","$71,836","$70,004","$68,854","$69,272","$70,545","$68,080"
2,3,âˆ’1,New Jersey,"$80,088","$76,126","$72,222","$72,919","$70,165","$69,667","$67,458","$67,681","$68,342","$70,373","$67,035"
3,4,+1,Hawaii,"$77,765","$74,511","$73,486","$69,592","$68,020","$66,259","$61,821","$63,030","$64,098","$67,214","$63,746"
4,5,+2,Massachusetts,"$77,385","$75,297","$70,628","$69,160","$66,768","$65,339","$62,859","$62,072","$64,081","$65,401","$62,365"
5,6,âˆ’3,Connecticut,"$74,168","$73,433","$71,346","$70,048","$67,098","$67,276","$65,753","$64,032","$67,034","$68,595","$65,967"
6,7,âˆ’1,New Hampshire,"$73,381","$70,936","$70,303","$66,532","$64,230","$63,280","$62,647","$61,042","$60,567","$63,731","$62,369"
7,8,âˆ’4,Alaska,"$73,181","$76,440","$73,355","$71,583","$72,237","$67,712","$67,825","$64,576","$66,953","$68,460","$64,333"
8,9,âˆ’1,California,"$71,805","$67,739","$64,500","$61,933","$60,190","$58,328","$57,287","$57,708","$58,931","$61,021","$59,948"
9,10,âˆ’1,Virginia,"$71,535","$68,114","$66,262","$64,902","$62,666","$61,741","$61,882","$60,674","$59,330","$61,233","$59,562"
10,11,-,Washington,"$70,979","$67,106","$64,129","$61,366","$58,405","$57,573","$56,835","$55,631","$56,548","$58,078","$55,212"
11,12,-,Colorado,"$69,117","$65,685","$63,909","$61,303","$58,823","$56,765","$55,387","$54,046","$55,430","$56,993","$55,212"
12,13,âˆ’3,Minnesota,"$68,388","$65,599","$63,488","$61,481","$60,702","$58,906","$56,954","$55,459","$55,616","$57,288","$55,802"
13,14,âˆ’1,Utah,"$68,358","$65,977","$62,912","$60,922","$59,770","$57,049","$55,869","$54,744","$55,117","$56,633","$55,109"
14,15,+4,New York,"$64,894","$62,909","$60,850","$58,878","$57,369","$56,448","$55,246","$54,148","$54,659","$56,013","$53,514"
15,16,+2,Rhode Island,"$63,870","$60,596","$58,073","$54,891","$55,902","$54,554","$53,636","$52,254","$54,119","$55,701","$53,568"
16,17,-,Illinois,"$62,992","$60,960","$59,588","$57,444","$56,210","$55,137","$53,234","$52,972","$53,966","$56,235","$54,124"
17,18,âˆ’3,Delaware,"$62,852","$61,757","$61,255","$59,716","$57,846","$54,554","$58,814","$55,847","$56,860","$57,989","$54,610"
18,19,+20,North Dakota,"$61,843","$60,656","$60,557","$59,029","$55,759","$53,585","$51,704","$48,670","$47,827","$46,032","$43,531"
19,20,-,Wyoming,"$60,434","$59,882","$60,214","$57,055","$58,752","$54,901","$56,322","$53,512","$52,664","$53,207","$51,731"
20,21,+4,Oregon,"$60,212","$57,532","$54,148","$51,075","$50,251","$49,161","$46,816","$46,560","$48,457","$50,169","$48,730"
21,22,+11,Nebraska,"$59,970","$56,927","$54,996","$52,686","$51,440","$50,723","$50,296","$52,504","$48,408","$49,693","$47,085"
22,23,âˆ’2,Wisconsin,"$59,305","$56,811","$55,638","$52,622","$51,467","$51,059","$50,395","$49,001","$49,993","$52,094","$50,578"
23,24,+5,Texas,"$59,206","$56,565","$55,653","$53,035","$51,704","$50,740","$49,392","$48,615","$48,259","$50,043","$47,548"
24,25,+1,Pennsylvania,"$59,195","$56,907","$55,702","$53,234","$52,007","$51,230","$50,228","$49,288","$49,520","$50,713","$48,576"
25,26,+6,Iowa,"$58,570","$56,247","$54,736","$53,712","$52,229","$50,957","$49,427","$47,961","$48,044","$48,980","$47,292"
26,27,âˆ’13,Nevada,"$58,003","$55,180","$52,431","$51,450","$51,230","$49,760","$48,927","$51,001","$53,341","$56,361","$55,062"
27,28,âˆ’6,Vermont,"$57,513","$57,677","$56,990","$54,166","$52,578","$52,997","$52,776","$49,406","$51,618","$52,104","$49,907"
28,29,âˆ’6,Arizona,"$56,581","$53,558","$51,492","$50,068","$48,510","$47,826","$46,709","$46,789","$48,745","$50,958","$49,889"
29,30,+11,South Dakota,"$56,894","$54,467","$53,017","$50,979","$48,947","$48,362","$48,321","$45,904","$45,043","$46,032","$43,424"
30,31,âˆ’1,Kansas,"$56,422","$54,935","$53,906","$52,504","$50,972","$50,241","$48,264","$48,257","$47,817","$50,177","$47,451"
31,32,+4,Maine,"$56,277","$53,079","$51,494","$49,462","$46,974","$46,709","$46,033","$45,815","$45,734","$46,581","$45,888"
32,33,âˆ’9,Georgia,"$56,183","$53,559","$51,244","$49,321","$47,829","$47,209","$46,007","$46,430","$44,736","$50,861","$49,136"
33,34,âˆ’7,Michigan,"$54,909","$52,492","$51,084","$49,847","$48,273","$46,859","$45,981","$45,413","$45,255","$48,591","$47,950"
34,35,âˆ’4,Indiana,"$54,181","$52,314","$50,532","$49,446","$47,529","$46,974","$46,438","$44,613","$45,424","$47,966","$47,448"
35,36,âˆ’2,Ohio,"$54,021","$52,334","$51,075","$49,308","$48,081","$46,829","$45,749","$45,090","$45,395","$47,988","$46,597"
36,37,-,Missouri,"$53,578","$51,746","$50,238","$48,363","$46,931","$45,321","$45,247","$44,301","$45,229","$46,867","$45,114"
37,38,+2,Montana,"$53,386","$50,027","$49,509","$46,328","$46,972","$45,076","$44,222","$42,666","$42,322","$43,654","$43,531"
38,39,âˆ’1,North Carolina,"$52,752","$50,584","$47,830","$46,556","$45,906","$45,150","$43,916","$43,326","$43,674","$46,549","$44,670"
39,40,âˆ’12,Florida,"$52,594","$50,860","$49,426","$47,463","$46,036","$45,040","$44,299","$44,409","$44,736","$47,778","$47,804"
40,41,âˆ’6,Idaho,"$52,225","$51,807","$48,275","$47,861","$46,783","$45,489","$43,341","$43,490","$44,926","$47,576","$46,253"
41,42,+1,Tennessee,"$51,340","$48,547","$47,275","$44,361","$44,297","$42,764","$41,693","$41,461","$41,725","$43,614","$42,367"
42,43,âˆ’1,South Carolina,"$50,570","$49,501","$47,238","$45,238","$44,163","$43,107","$43,916","$42,018","$42,442","$44,625","$43,329"
43,44,-,Oklahoma,"$50,051","$49,176","$48,568","$47,529","$45,690","$44,312","$43,225","$42,072","$41,664","$42,822","$41,567"
44,45,+3,Kentucky,"$48,375","$46,659","$44,765","$42,958","$43,399","$41,724","$41,141","$40,062","$40,072","$41,538","$40,267"
45,46,+1,Alabama,"$48,123","$46,257","$44,765","$42,830","$42,849","$41,574","$41,415","$40,474","$40,489","$42,666","$40,554"
46,47,âˆ’2,New Mexico,"$46,744","$46,748","$45,382","$44,803","$43,872","$42,558","$41,963","$42,090","$43,028","$43,508","$41,452"
47,48,âˆ’2,Louisiana,"$46,145","$45,146","$45,727","$44,555","$44,164","$42,944","$41,734","$42,505","$42,429","$43,733","$40,926"
48,49,-,Arkansas,"$45,869","$45,907","$42,798","$44,922","$39,376","$39,018","$41,302","$38,587","$36,538","$39,586","$38,134"
49,50,+1,Mississippi,"$43,529","$41,754","$40,593","$39,680","$37,963","$37,095","$36,919","$36,851","$36,646","$37,790","$36,338"
50,51,âˆ’1,West Virginia,"$43,469","$43,385","$42,019","$41,059","$41,253","$40,196","$38,482","$37,218","$37,435","$37,989","$37,060"
51,52,â€”,Puerto Rico,"$19,775","$20,078","$18,810","$18,948","$19,183","$19,630",â€”,â€”,â€”,â€”,â€”

In [113]:
state_summary = income_df.merge(edu_df,right_on='State, federal district, or territory', left_on = 'Stateor territory')

state_summary_cols = ['Stateor territory', '2017',"2016", "2015", "% High school graduate or higher","% Bachelor's degree or higher",'% Advanced degree']
state_summary= state_summary[state_summary_cols].copy()


# Rename the column headers
state_summary = state_summary.rename(columns={"Stateor territory": "State", "% High school graduate or higher":"High school graduate or higher","% Bachelor's degree or higher":"Bachelor's degree or higher",'% Advanced degree':"Advanced degree"})

state_summary

,State,2017,2016,2015,High school graduate or higher,Bachelor's degree or higher,Advanced degree
0,District of Columbia,"$82,336","$75,506","$75,628",90.3%,56.6%,32.8%
1,Maryland,"$80,776","$78,945","$75,847",89.8%,39.0%,18.0%
2,New Jersey,"$80,088","$76,126","$72,222",89.2%,38.1%,14.7%
3,Hawaii,"$77,765","$74,511","$73,486",91.6%,32.0%,10.8%
4,Massachusetts,"$77,385","$75,297","$70,628",90.3%,42.1%,18.7%
5,Connecticut,"$74,168","$73,433","$71,346",90.2%,38.4%,17.0%
6,New Hampshire,"$73,381","$70,936","$70,303",92.8%,36.0%,13.8%
7,Alaska,"$73,181","$76,440","$73,355",92.4%,29.0%,10.4%
8,California,"$71,805","$67,739","$64,500",82.5%,32.6%,12.2%
9,Virginia,"$71,535","$68,114","$66,262",89.0%,37.6%,16.1%
10,Washington,"$70,979","$67,106","$64,129",90.8%,34.5%,12.7%
11,Colorado,"$69,117","$65,685","$63,909",91.1%,39.4%,14.6%
12,Minnesota,"$68,388","$65,599","$63,488",92.8%,34.8%,11.8%
13,Utah,"$68,358","$65,977","$62,912",91.8%,32.5%,11.0%
14,New York,"$64,894","$62,909","$60,850",86.1%,35.3%,15.4%
15,Rhode Island,"$63,870","$60,596","$58,073",87.3%,33.0%,13.1%
16,Illinois,"$62,992","$60,960","$59,588",88.6%,33.4%,13.0%
17,Delaware,"$62,852","$61,757","$61,255",89.3%,31.0%,12.9%
18,North Dakota,"$61,843","$60,656","$60,557",92.3%,28.9%,7.8%
19,Wyoming,"$60,434","$59,882","$60,214",92.8%,26.7%,9.3%
20,Oregon,"$60,212","$57,532","$54,148",90.2%,32.3%,12.2%
21,Nebraska,"$59,970","$56,927","$54,996",90.9%,30.6%,10.2%
22,Wisconsin,"$59,305","$56,811","$55,638",91.7%,29.0%,9.9%
23,Texas,"$59,206","$56,565","$55,653",82.8%,28.7%,9.9%
24,Pennsylvania,"$59,195","$56,907","$55,702",89.9%,30.1%,11.8%
25,Iowa,"$58,570","$56,247","$54,736",91.8%,27.7%,9.0%
26,Nevada,"$58,003","$55,180","$52,431",85.8%,23.7%,8.1%
27,Vermont,"$57,513","$57,677","$56,990",92.3%,36.8%,15.0%
28,Arizona,"$56,581","$53,558","$51,492",86.5%,28.4%,10.7%
29,South Dakota,"$56,894","$54,467","$53,017",91.4%,27.8%,8.3%
30,Kansas,"$56,422","$54,935","$53,906",90.5%,32.3%,11.7%
31,Maine,"$56,277","$53,079","$51,494",92.1%,30.3%,10.9%
32,Georgia,"$56,183","$53,559","$51,244",86.3%,29.9%,11.4%
33,Michigan,"$54,909","$52,492","$51,084",90.2%,28.1%,11.0%
34,Indiana,"$54,181","$52,314","$50,532",88.3%,25.3%,9.2%
35,Ohio,"$54,021","$52,334","$51,075",89.8%,27.2%,10.2%
36,Missouri,"$53,578","$51,746","$50,238",89.2%,28.2%,10.7%
37,Montana,"$53,386","$50,027","$49,509",93.0%,30.7%,10.1%
38,North Carolina,"$52,752","$50,584","$47,830",86.9%,29.9%,10.6%
39,Florida,"$52,594","$50,860","$49,426",87.6%,28.5%,10.3%
40,Idaho,"$52,225","$51,807","$48,275",90.2%,26.8%,8.5%
41,Tennessee,"$51,340","$48,547","$47,275",86.5%,26.1%,9.6%
42,South Carolina,"$50,570","$49,501","$47,238",86.5%,27.0%,9.8%
43,Oklahoma,"$50,051","$49,176","$48,568",87.5%,24.8%,8.3%
44,Kentucky,"$48,375","$46,659","$44,765",85.2%,23.2%,9.6%
45,Alabama,"$48,123","$46,257","$44,765",85.3%,24.5%,9.1%
46,New Mexico,"$46,744","$46,748","$45,382",85.0%,26.9%,11.8%
47,Louisiana,"$46,145","$45,146","$45,727",84.3%,23.4%,8.1%
48,Arkansas,"$45,869","$45,907","$42,798",85.6%,22.0%,7.9%
49,Mississippi,"$43,529","$41,754","$40,593",83.4%,21.3%,8.0%
50,West Virginia,"$43,469","$43,385","$42,019",85.9%,19.9%,7.9%
51,Puerto Rico,"$19,775","$20,078","$18,810",74.7%,24.9%,7.1%

In [114]:
connection_string = "postgres:sql2007@localhost:5432/shooting_db"
engine = create_engine(f'postgresql://{connection_string}')

In [105]:
new_police.to_sql('police', engine, if_exists='fail');

In [106]:
new_gun.to_sql('gun', engine, if_exists='fail');

In [116]:
state_summary.to_sql('state_summary', engine, if_exists='fail');